
.suggested-result{
    position: absolute;
    display: list-item !important;
    z-index: 10;
    background-color: #fff;
    width: 300px;
    top: 40px;
    border: 1px solid #ddd;
}

.suggested-result li{
  border: 1px solid #fff;  
  padding: 5px;

}

.suggested-result li a{
   cursor: pointer; 
   color: rgb(0, 255, 200);
   
}